.server2{
    position: absolute;
    top:0.7rem;
}
.server2{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap row;
}
.server2 a{
    width: 50%;
    display: inline-block;
}
.flex1{
    position: relative;
    top: 0.4rem;
    height: 0.3rem;
    line-height: 0.3rem;
}
.flex1>div{
    width: 25%;
    display: inline-block;
    text-align: center;
}
.act{
    color: #c00;
}